--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1+cpu
torchvision==0.19.1+cpu
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.12
efficientnet-pytorch==0.7.1
albumentations==1.4.14
albucore==0.0.16
pillow==10.4.0
numpy==2.1.1
scikit-learn==1.5.2
websockets==15.0.1
